body{
    background-color: #f1f1f1;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    font-size: 3rem;
    margin: 0 .5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity .3s ease-in-out;
}

button:hover{
    opacity: .7;
}

#rock{
    background-color: #ff0000;
}

#paper{
    background-color: #2196f3;
}

#scissors{
    background-color: #4caf50;
}

#user-score{
    color: #2196f3;
}
 
#computer-score{
    color: #ff0000;
}
